<%- include('layouts/Header.ejs')%>


    <div class="main-container">
        <div class="top">
            <h1 class='no_mp'>Welcome <%= name %></h1>    
        </div>
        <div class="container-content">
            <ul class='container-content-menu'>
                <li><a href='/upload'>Upload Question Paper</a></li>
                <li><a href='/student_login'>Download Response</a></li>
                <li><a href='/student_login'>See question paper</a></li>
                <li><a href='/student_login'>Upload Results</a></li>
            </ul>
        </div>

    </div> 
</body>

<%- include('layouts/footer.ejs')%>