<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header class='top_container'>

        <div class="head">
            <h1 class='no_mp head-content'> Welcome to Online Computer Based Test!! </h1>
        </div>

        <nav class='nav-container'>
            <ul class='nav-bar'>
                <li><a href='/' class='active'>Home</a></li>
                <li><a href='/Admin'>Admin</a></li>
                <li><a href='/Student'>Student</a></li>
                <li><a href='/Signup'>Signup</a></li>
            </ul>
        </nav>
    </header> -->

<%- include('layouts/Header.ejs')%>

    <main>
    <div class="main-container">
        <div class="top">
            <h1 class='no_mp'>Login As</h1>    
        </div>
        <div class="content">
            <ul class='content-menu'>
                <li><a href='/admin_login'>Admin</a></li>
                <li><a href='/student_login'>Student</a></li>
            </ul>
        </div>

    </div>    




    </main>

    <!-- <footer>
        <div class="foot">
            <p class='foot-content'>Made with &#10084;&#65039;</p>
        </div>
    </footer>
</body>
</html> -->
</body>
<%- include('layouts/footer.ejs')%>