<%- include('layouts/Header.ejs')%>

<body>
        
        <form method= action='upload' enctype="multipart/form-data" style="border: 1px black solid; width:300px; align-content: center; margin:auto">
            <center><h1>Upload File</h1></center>
            <hr>
        <input type='file' name='fileUploaded' style="color: red; margin:auto; align-items: center;padding-left: 40px;padding-top:30px; padding-bottom: 20px; height: 20px;">
        <input type='submit' style="margin-left:70px;width:85px;padding:5px;margin-bottom: 10px; ">

        </form> 
</body>
<%- include('layouts/footer.ejs')%>